# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Debug
.vscode/
.idea/
.DS_Store

# Optional npm cache directory
.npm

# Docker artifacts
docker-compose.override.yml

# Coverage directory (if testing later)
coverage/

# Build artifacts (optional if you ever compile)
dist/
